body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
  }
  
  .calculator {
    width: 430px;
    height: 932px;
    background-color: #000000;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
  }
  
  .display {
    height: 100px;
    background-color: #000;
    color: #fff;
    font-size: 48px;
    text-align: right;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(5, 90px);
    gap: 10px;
  }
  
  .button {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    border: none;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background-color: #505050;
    color: #fff;
    text-decoration: none;
    text-transform: none;
  }
  
  .button1 {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    border: none;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background-color: #ff9900;
    color: #ffffff;
    text-decoration: none;
    text-transform: none;
  }
  
  .button2 {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    border: none;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background-color: #c2c2c2;
    color: #000000;
    text-decoration: none;
    text-transform: none;
  }
  
  .button-zero {
    grid-column: span 2;
    width: 190px;
  }
  